body{
    background-color: blue;
    color: navajowhite;
}

table, th, td {
    border: 2px solid black;
    padding: 20px;
    align-content: space-around;
}

th{
    text-align: left;
}

h1{
    font-style: italic;
}

#orderButtonOrder{
    background-color: mediumvioletred;
    color: lightgoldenrodyellow;
    padding: 5px;
}

h2{
    font-size: medium;
}